body, p, ul, li{
  margin: 0;
  padding: 0;
}

div.tooltip {
  color: white;
  position: absolute;
  max-width: 120px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  .title {
    text-align: center;
  }
  .body {
    text-align: left;
  }
}
